.inner-container{
    gap: 1.5rem;
    background-color: rgba(78, 62, 249, 0.894);
    padding: 2rem;
    border-radius: 5px;
}
/* .primaryText{
    color: white;
}
.secondaryText{
    color: white;
}
 */
 .hi{
    border:1px black solid ;
    border-radius:5px ;
    background-color: blue;
}