.r-container{
    overflow: hidden;
    position: relative;
}
.r-head{
    margin-bottom: 2rem;
}
.r-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin: auto;
    transition: all 300ms ease-in;
    position: relative;
}
.r-card>img{
    position: relative;
    /* width: 100%; */
    max-width: 15rem;
}
.r-card>:nth-child(2){
    font-size: 2rem;
    font-weight: 600;
}
.r-card>:nth-child(3){
font-size: 1.5rem;
}
.r-card>:nth-child(4){
    font-size: 0.7rem;
    width: 15rem;
}
.r-card:hover{
    transform: scale(1.09);
    cursor: pointer;
    background: linear-gradient(white ,rgb(108, 206, 204));
    border-radius: 2rem;
}
.r-buttons{
    position: absolute;
    gap: 1rem;
    top: 5rem;
    right: 15rem;
    color: black;
    background-color: rgb(255, 255, 255);
    z-index: 2;
}
.r-buttons>button{
    scale: 2.5;
    
}

@media (max-width:600px) {
    .r-buttons{
        right:10px;
    }

.r-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rr-card{
    align-items: center;
    justify-content: flex-start;
}

}