.v-container .image-container{
    border: 8px solid rgb(255, 255, 255);
    
}

/* .v-container{
    justify-content: space-evenly !important;
    flex-wrap: nowrap !important;
    max-width: 100rem;
    max-height: 90rem;
    height: auto;
} */
v-container>div{
    flex:1;
}
/* .v-left{
    height: 30rem;
} */
.v-left{
    height: 100%;
    flex: 1;
    margin: 2rem;
}
.v-right{
    gap: 0.5rem;
    flex: 1;
    margin: 3rem;
    flex-shrink: 1;
    
}

.v-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}
.accordianItem{
    overflow:hidden;
}
@media (max-width:600px) {

.v-container{
    flex-direction: column;
}


}